@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    color: white;
    background-color: #dc001b;
    font-family: Yaldevi, sans-serif;
    font-weight: 400;
    text-align: center;
}
header h1{
    border-bottom: 2px solid #516260;
    padding-bottom: 5px;
    padding-top: 0;
    margin-top: 0;
}
nav{
    position: fixed;
    top: 15%;
    left: 0;
    height: 40px;
    width: 100%;
    color: white;
    background-color: black;
    font-family: Yaldevi, sans-serif;
    text-align: center;
}

.menu>li{
    width: 80px;
    height: 30px;
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 50px 0;
}

.menu>li:hover{
    background-color: gray;
}

.submenu{
    text-align: left;
    background-color: black;
    display: none;
}
.menu>li:hover>.submenu{
    display: block;
}
.submenu>li>a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 80px;
    height: 30px;
}

.submenu>li>a:hover{
    background-color: gray;
}

section{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
    height: 100%;
    margin: 0;
}
.cuadro{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: violet;
}
figure{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
}
div #soy {
    position: absolute;
    top: 0;
    left: 190px;
    width: 25%;
    overflow: hidden;
}
#objetivo {
    position: relative;
    top: 25%;
}
#sobre {
    position: absolute;
    top: 0;
    left: 40%;
    width: 40%;
    overflow: hidden;
}
#cualidades {
    position: relative;
    top: 53%;
}
body{
    background-color: #516260;
}
