@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
html{
    background-color: #fffcdd;
}
header{
    Position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background-color: #dc001b;
    color: white;
    z-index: 10;
    border-top: 2px solid #FFD562;
}
header a{
    color: white;
}
#head{
    text-align: Center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 20px black;
}
#head h1{
    padding: 0;
    margin: 0;
    font-size: 3em;
    text-shadow: 0 0 20px black;
}
#head h2{
    padding: 5px 0 8px;
    margin: 10px 0 0;
    font-size: 2em;
    text-shadow: 0 0 20px black;
}
nav{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 15;
    background-color: black;
    font-family: 'Roboto Slab', serif;
    border-top: 2px solid #FFD562;
}
.menu{
    position: absolute;
    top: 0;
    left: calc(50% - 182px);
    padding: 0;
    margin: 0;
}

.menu>li{
    width: 80px;
    height: 30px;
    display: inline-block;
    padding: 10px 50px 10px;
    font-size: 1.5em;
    text-align: center;

}
.menu>li>a{
    text-decoration: none;
    text-align: center;
}
.menu>li:hover{
    background-color: gray;
    text-shadow: 0 0 20px black;
}
.submenu{
    display: none;
    position: absolute;
    top: 50px;
}
.menu>li:hover>.submenu{
    display: block;
}
.submenu>li{
    background-color: black;
    width: 170px;
    height: 40px;
    display: block;
    padding: 15px 5px 5px;
    position: relative;
    left: calc(50% - 180px);
    font-size: 0.8em;
}
.submenu>li:hover{
    background-color: gray;
    text-shadow: 0 0 20px black;
}
.submenu>li>a{
    text-decoration: none;
    text-align: center;
}
.submenu2{
    display: none;
    position: absolute;
    top: 0;
}
.submenu2>li{
    background-color: black;
    width: 170px;
    height: 40px;
    display: block;
    padding: 20px 5px 0;
    position: relative;
    left: 75%;
    font-size: 0.8em;
}
.submenu2>li>a{
    text-decoration: none;
    text-align: center;
}
.submenu>li:hover>.submenu2{
    display: block;
}
.submenu2>li:hover{
    background-color: gray;
    text-shadow: 0 0 20px black;
}
/*Hasta aquí el CSS es sobre el menú de navegación*/

#info{
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    height: 100%;
}
#info p{
    font-family: 'Noto Sans', sans-serif;
}
#info h2,h1{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
.cuadro{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
    height: 250px;
}
#pic img{
    position: relative;
    top: 20px;
    left: -20px;
    margin: 20px 20px 20px 0;
    border: 4px solid #FFD562;
    box-shadow: 5px 5px 10px gray;
}

#soy{
    position: absolute;
    top: 0;
    left: 188px;
    width: 32%;
    height: 200px;
    margin: 20px ;
    padding: 20px 20px 0;
    border: 4px solid rgba(255, 213, 98, 0.52);
    box-shadow: 5px 5px 10px gray;
    background-color: #FFD56242;
}

#sobre{
    position: absolute;
    top: 0;
    left: 55%;
    width: 35%;
    height: 200px;
    padding: 20px 20px 0;
    margin: 20px;
    border: 4px solid #FFD562;
    box-shadow: 5px 5px 10px gray;
    background-color: #FFD56242;
}

/*Hasta aquí primer apartado*/

.cuadro1{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
    height: calc(170px + 250px);
}
#objetivo{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 60px);
    height: 370px;
    margin: 20px;
    padding: 20px;
    border: 4px solid #FFD562;
    box-shadow: 5px 5px 10px gray;
    background-color: #FFD56242;
}

#cualidades{
     position: absolute;
     top: 0;
     left: 50%;
     width: calc(50% - 80px);
     height: 370px;
     margin: 20px;
     padding: 20px;
     border: 4px solid #FFD562;
     box-shadow: 5px 5px 10px gray;
     background-color: #FFD56242;
 }
#cualidades h2{
    text-align: center;
}
#eng{
    position: absolute;
    top: 150px;
    left: 0;
    width: 45%;
    height: 53%;
}
#eng img{
    position: absolute;
    top: 10px;
    left: 0;
    width: 90%;
}
#ms{
    position: absolute;
    top: 150px;
    left: 40%;
    width: 45%;
    height: 53%;
}
#ms img{
    position: center;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 20px 0;
}
#fort{
    position: relative;
    top: 0;
    left: 0;
    width:100px;
    height: 80%;
}
#imgfort{
    position: absolute;
    top: 80px;
    left: 120px;
    width: 80%;
    height: 75%;
}
#picfort img{
    position: absolute;
    top: -40px;
    left: 11%;
    width: 70%;
    margin: 0;
    padding: 0;
}
/*848x565*/
/*Hasta aquí segundo apartado*/
.cuadro2{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
    height: 90%;
}

#logros{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 90%;
    margin: 20px;
    border: 4px solid #FFD562;
    box-shadow: 5px 5px 10px gray;
    background-color: #FFD56242;
}
#logros p{
    margin: 20px;
}
#logros h2{
    text-align: center;
}
#arduino{
    position: absolute;
    top: 120px;
    left: 0;
    width: 40%;
    height: 75%;
    margin: 20px;
}
#arduino1 img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}
#msoff{
    position: absolute;
    top: 120px;
    left: 55%;
    width: 40%;
    height: 75%;
    margin: 20px;
}
#msoff img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}
/*Hasta aquí la portada*/
.proy{
    margin: 20px;
    border: 4px solid #FFD562;
    box-shadow: 5px 5px 10px gray;
    background-color: #FFD56242;
}
.proy p{
    margin: 20px;
}
#figproy img{
    width: 150px;
    position: relative;
    left: calc(50% - 75px);
    margin-bottom: 20px;
}
@media screen and (max-width: 980px) {

}